# 할당연산

In [ ]:
x = 10
# 10의 메모리 주소 값을 x가 가지게 되는 것입니다.
x = 10 + 10
# 할당연산의 마지막 부분에 있기 때문에 위와 같은 연산이 가능한 것입니다.

In [ ]:
a = a + 10
a = +10
a += 10

In [ ]:
x = 5
y = 2
z = 10

x += y * z  # y * z 연산 후 x에 값을 할당합니다.

# 식별연산 멤버연산

In [1]:
x = 10

x is None # is는 메모리 기준!
x is not None

True

In [2]:
x = 3000
y = 3000

x is y

False

In [3]:
x = 1
y = 1

x is y

True

In [4]:
10 in [10, 20, 30, 40]

True

In [5]:
35 not in [10, 20, 30, 40]

True

# 리스트, 튜플, 딕셔너리, 셋

In [6]:
l = [10, 20, 30, 40]
t = (10, 20, 30, 40)
d = {'one': 1, 'two': 2}
s = {10, 20, 30, 40}

In [8]:
dir(l)
# 'append',
# 'clear',
# 'copy',
# 'count',
# 'extend',
# 'index',
# 'insert',
# 'pop',
# 'remove',
# 'reverse',
# 'sort'
l.append(100)
l

[10, 20, 30, 40, 100]

In [9]:
l.clear()
l

[]

In [16]:
l = [10, 20, 30, 40]
ll = l
l[0] = 1000
ll, l

([1000, 20, 30, 40], [1000, 20, 30, 40])

In [15]:
l = [10, 20, 30, 40]
ll = l.copy()
l[0] = 1000
ll, l

([10, 20, 30, 40], [1000, 20, 30, 40])

In [14]:
l = [10, 20, 30, 40]
ll = l[:]
l[0] = 1000
ll, l

([10, 20, 30, 40], [1000, 20, 30, 40])

In [18]:
a = [10, 20]
b = [30, 40]
l = [a, b]
ll = l.copy()
l[0][0] = 1000
ll, l

([[1000, 20], [30, 40]], [[1000, 20], [30, 40]])

In [19]:
# deepcopy를 이용한 값 복사
import copy

a = [10, 20]
b = [30, 40]
l = [a, b]
ll = copy.deepcopy(l)
l[0][0] = 1000
ll, l

([[10, 20], [30, 40]], [[1000, 20], [30, 40]])

In [21]:
[10, 20, 30, 40, 10, 10].count(10)

3

In [24]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

[1, 2, 3, 4, 5, 6]

In [25]:
x = [1, 2, 3]
x.extend('hello')
x

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [27]:
x = ['1', '2']
x.extend('1231234454')
x
sum(map(int, x))

32

In [28]:
x = ['1', '2']
x.extend('1231234454')
x
sum(list(map(int, x))) # 이렇게 '형변환'을 하는 것은 매우 큰 메모리 낭비를 초래할 수 있습니다.

32

In [ ]:
[10, 20, 30].index(50)

In [30]:
x = [10, 20, 30]
x.insert(2, 10000)
x

[10, 20, 10000, 30]

In [31]:
x = [10, 20, 30]
data = x.pop()
data

30

In [32]:
x

[10, 20]

In [33]:
x = [10, 20, 30]
while x:
    print(x.pop())

30
20
10

In [34]:
x = [10, 20, 30, 10, 10]
x.remove(10)

# 'reverse',
# 'sort'

In [36]:
x = [1, 2, 3, 2]
x.reverse()
x

[2, 3, 2, 1]

In [37]:
x = [1, 2, 3, 2]
x.sort()
x

[1, 2, 2, 3]

In [41]:
s = [1, 3, 4, 8, 13, 17, 20]
data = list(zip(s[:], s[1:])) # 보기 좋으라고 형변환 한겁니다. 성능은 별로입니다.
data.sort(key=lambda x: x[1] - x[0])
data[0]

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
t = (10, 20, 30)
dir(t)
#  'count'
#  'index'

In [43]:
l = [10, 20]
t = (l, 30, 40)
t

([10, 20], 30, 40)

In [44]:
l[0] = 100
t

([100, 20], 30, 40)

In [45]:
# 튜플이 자주 사용되는 곳
# 값에 불변을 지키기 위해서 튜플을 사용하는 것보다
# 아규먼트의 갯수를 맞추기 위해 튜플을 사용하는 경우가 더 많습니다.
d = {'one': 1, 'two': 2}
d.items()

dict_items([('one', 1), ('two', 2)])

In [47]:
dict([('one', 1), ('two', 2)])

{'one': 1, 'two': 2}

In [ ]:
d = {'one': 1, 'two': 2}
dir(d)

d.get('three', '값 없음!') # 정말 많이 사용합니다!
# d['three']

#  'get',
#  'items',
#  'values'
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'fromkeys',

In [ ]:
def 요일변경(n):
    return {
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
        7: '일요일',
    }.get(n, '요일 없음')

# match가 생기기 전 match처럼 사용하기 위해 자주 사용

In [52]:
d.items()
type(d.items())

dict_items

In [53]:
d.keys()

dict_keys(['one', 'two'])

In [54]:
for key in d.keys():
    print(key)

one
two

In [55]:
for key in d:
    print(key)

one
two

In [56]:
dir(d.items())

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'isdisjoint',
 'mapping']

In [57]:
d.values()

dict_values([1, 2])

In [58]:
d.keys()

dict_keys(['one', 'two'])

In [59]:
d.popitem()

('two', 2)

In [60]:
d = {'one': 1, 'two': 2}
d.pop('one')

1

In [61]:
d

{'two': 2}

In [62]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)
print({'one': '하나', 'two': '둘', 'three': '셋'} | {'four': '넷', 'five': '다섯'})

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [63]:
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, value))

{'name': None, 'city': None, 'job': None}

In [65]:
s = {1, 2, 3}
ss = {3, 4, 5}

data = set('123123123')
data

{'1', '2', '3'}

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

s | ss
s - ss
s & ss

# 함수

In [66]:
# 파선아실
def hello(x):
    return x + x

hello(100)

200

In [67]:
def hello(a=10, b=20):
    return (a, b)

hello(b=100, a=200)
# 순서가 아닌 파라미터를 보고 맞는 위치에 삽입합니다.
# 자바스크립트는 그렇지 않습니다.

(200, 100)

In [69]:
# 함수의 이름은 변수입니다.
# 일급함수
def hello():
    return 100

x = [hello, hello]

x[0]()

100

In [70]:
hojun = print
hojun('hello world')

hello world

In [71]:
x = 100
def hello():
    print(x)
    return x + x

hello()

100

200

In [72]:
x = 100
def hello():
    x = 200
    return x + x

hello()
x

100

In [73]:
a = 100

def f():
    global a
    a = a + 1

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101

# 조건문

In [74]:
if True:
    print('hello world')

hello world

In [75]:
if True or 1/0:
    print('hello world')

hello world

In [76]:
def f():
    raise Exception('exception')

if True or f():
    print('hello world')

hello world

In [ ]:
# Python에서 False로 평가받는 것들
''
[] # 자바스크립트에서는 Boolean([])이 True입니다.
{}
()
0
None

In [77]:
if 0:
    print('hello world1')
elif 0:
    print('hello world2')
elif 0:
    print('hello world3')
elif 1:
    print('hello world4')
else:
    print('hello world5')

hello world4

In [78]:
def hello(a, b):
    return True if a > b else False

hello(10, 5)

True

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 결과 'No Match'

# 반복문

In [79]:
# for
# while

In [80]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [81]:
for i, j in enumerate('hello'):
    print(i, j)

0 h
1 e
2 l
3 l
4 o

In [83]:
for i, j, k in zip('hello', 'world', '!-~'):
    print(i, j, k)

h w !
e o -
l r ~

In [84]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [85]:
[i for i in range(10)] # 리스트컴프리헨션이 성능이 좋기 때문에 간단한 구문의 경우 사용하면 좋습니다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)] # 가독성이 이미 깨졌습니다.

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [89]:
x = 0
while x < 10:
    x += 1
    if x == 5:
        # break
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [90]:
# break이 벗어나는 범위는
# 자신을 감싸고 있는 반복문만 벗어납니다.
for i in range(10):
    for j in range(10):
        if j > 3:
            break
        print(i, j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3
5 0
5 1
5 2
5 3
6 0
6 1
6 2
6 3
7 0
7 1
7 2
7 3
8 0
8 1
8 2
8 3
9 0
9 1
9 2
9 3